@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --text-big: 29.3px;
  --leading-title-lg: 36px;
  --color-primary: #9b91c7;
  --color-title: #1d283a;
  --font-inter: "Inter";
}
