@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

*{
  font-family: "inter";
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --text-big: 29.3px;
  --leading-title-lg: 36px;
  --color-primary: #9b91c7;
  --color-secondary: #cdbff5;
  --color-light: #f2f3fc;
  --color-primary-dark: #8d7da8;
  --color-title: #1d283a;

  --font-inter: "Inter";
}
